body{
	background-color: #E0E0E0  !important;
}
.content_details{
	margin-top: 60px;
	border: 1px solid black;
	padding: 30px;
}

.table-wrapper{
	margin: 10px 70px 70px;
	box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.new_table{
	border-radius: 5px;
	font-size: 12px;
	font-weight: normal;
	border: none;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	background-color: white;
}

.new_table td, .new_table th{
	text-align: center;
	padding: 8px;
}

.new_table td{
	border-right:1px solid #f8f8f8;
	font-size: 12px;
}

.new_table thead th{
	color: #ffffff;
	background: #4FC3A1;
}

.new_table thead th:nth-child(odd) {
	color: #ffffff;
	background: $324960;
}

.new_table tr:nth-child(even) {
	background: $F8F8F8;
}

.green-btn{
	background-color: #4FC3A1;
	color: #fff;
}

.index-menu{
	background-color: #EEEEEE;
	color: black;
}

.branch_body{
	margin-top: 30px;
	padding: 30px;
}